*{
  margin: 0;
  padding: 0;
}
body{
  /* #151515 */
  background-color:#151515 ;
  color:#ddd;
  overflow-x:hidden !important;
}
.App {
  text-align: center;
}

.paper {
  padding:8px 25px;
}
input{
  display: block;
    margin: 29px auto -20px 2%;
    color: #cabdbd;
    font-size: 18px;
    line-height: 2.25em;
    padding: 0 12px;
    background-color: #222222;
    outline: none;
    border: 1px solid #f50057;
    border-radius: 6px;
}
input:focus{
  border:1px solid #d8b908;
  border-radius: 6px;
  outline: none;
  color: #eee;
}

.legendB {
  font-size: 18px;
     position: relative;
    display: inline-block 
  }
  .confirmed{
    color: #ff5b4d;
  }
  .confirmed::after {
    content: '';
    display: block;
    width: 85px;
    height: 6px;
    background-color:#ff5b4d;
  }
  .recovered{
    color: #ffac00;
  }
  .recovered::after {
    content: '';
    display: block;
    width: 84px;
    height: 6px;
    background-color:#ffac00;
  }
  .deaths{
    color: #00ac48;
  }
  .deaths::after {
    content: '';
    display: block;
    width: 56px;
    height: 6px;
    background-color:#00ac48;
  }

  /* #fac000  #00ac48 */